#root {
  max-width: 100%;
  text-align: center;
}

:root {
  --morado: blueviolet;
  --blanco: white;
  --plum: plum;
  --rosa: lightpink;
  --negro: black;
}


h1{
  color: var(--morado);
  text-shadow: 1px 1px 2px var(--plum);
}

.grid{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr 2fr;
}

table {
  margin: auto;
}

tr:nth-of-type(2n) { 
  background-color: var(--rosa);
}

button > td { 
  background-color: var(--blanco);
}

th{
  background-color: var(--morado);
  color: var(--blanco);
  padding-left: 1em;
  padding-right: 1em;
}

button{
  background-color: var(--morado);
  color: var(--blanco);
}

.concierto{
  text-shadow: 1px 1px 2px var(--plum);
}

#submit{
  background-color: var(--morado);
  color: var(--blanco);
  border: 1px solid var(--morado);
  border-radius: 5%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--morado);
  color: var(--blanco);
  padding: 1rem;
}

.navbar-center .nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-center .nav-links li {
  margin-right: 1rem;
}

.navbar-center .nav-links a {
  color: var(--blanco);
  text-decoration: none;
}