#root {
  max-width: 100%;
  text-align: center;
}

h1{
  color: blueviolet;
  text-shadow: 1px 1px 2px plum;
}

table {
  margin: auto;
}

th{
  background-color: blueviolet;
  color: white;
  padding-left: 1em;
  padding-right: 1em;
}

button{
  background-color: blueviolet;
  color: white;
}

.concierto{
  text-shadow: 1px 1px 2px plum;
}

#submit{
  background-color: blueviolet;
  color: white;
  border: 1px solid blueviolet;
  border-radius: 5%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blueviolet;
  color: white;
  padding: 1rem;
}

.navbar-center .nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-center .nav-links li {
  margin-right: 1rem;
}

.navbar-center .nav-links a {
  color: #fff;
  text-decoration: none;
}

